
.custom-shape-divider-bottom-1638980953 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1638980953 svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 84px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1638980953 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1638980953 svg {
    /* width: calc(131% + 1.3px);
        height: 25px; */
    width: calc(134% + -105px);
    height: 40px;
  }
}

.custom-shape-divider-top-1639410087 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1639410087 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.custom-shape-divider-top-1639410087 .shape-fill {
    fill: #FFFFFF;
}
