footer {
  background-color: var(--primary);
  padding: 40px 0;
}

footer * {
  color: white !important;
}

footer p {
  margin: 15px 0;
}

.ftr-mobile-links, .seperator {
  display: none;
}

.socials img:nth-child(2) {
  margin: 0 35px;
}

.ftr-desktop {
  position: relative;
  justify-content: center !important;
}

.ftr-desktop div:first-child {
  position: absolute;
  left: 0;
}

.ftr-desktop .copyright {
  position: absolute;
  right: 0;
}

@media(max-width:600px) {

  .ftr-desktop,
  .ftr-desktop div:first-child,
  .ftr-desktop .copyright {
    position: unset;
  }

  .ftr-mobile-links, .seperator {
    display: block;
  }

  footer * {
    text-align: center;
  }

  .ftr-mobile-links img {
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
  }

  .copyright p {
    font-size: 0.8rem;
  }

  footer hr {
    margin: 30px 0;
  }

}
