/* -------Style defaults------*/
p {
  line-height: 1.75;
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
  color: var(--primary);
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  color: var(--primary);
  font-family: "Archivo Black", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #2f2f2f;
  --grey: #595959;
  --light_grey: #828282;
  --white: #fff;
  --blue: #008ecc;
  --shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  --webkit-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}

html {
  /* scroll-behavior: smooth; */
  height: 100%;
  /* important for vertical alignment to work*/
  width: 100%;
  /* To ensure font sizes display properly */
  font-size: 100%;
}

body {
  font-family: "Archivo", sans-serif;
}

button:hover {
  cursor: pointer;
}

.j-btn {
  font-family: "Archivo Black", sans-serif;
  background: var(--primary);
  border: solid 3px var(--primary);
  color: var(--white);
  border-radius: 1.5em;
  cursor: pointer;
  transition: 0.2s;
  transition: all 200ms ease-in-out;
  padding: 9px 27px;
  font-size: 0.8rem;
  -webkit-transition: all 200ms ease-in-out;
  text-transform: capitalize;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--webkit-shadow);
}

.j-btn:hover {
  background: none;
  color: var(--primary);
}

.j-btn2 {
  background: none;
  border: solid 3px var(--primary);
  color: var(--primary);
}

.j-btn3 {
  background: none;
  border: solid 3px transparent;
  color: var(--light_grey);
  box-shadow: none;
}

.j-btn3:hover {
  color: var(--primary);
}

/* Container set up */
.j-container {
  max-width: 1300px;
  width: 85%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style defualts mobile */
@media (max-width: 600px) {
  p {
    font-size: 1rem;
  }

  .j-container {
    width: 90%;
    margin: 5% auto;
  }

  .j-btn {
    padding: 11px 30px;
    font-size: 0.9rem;
  }

  .item button {
    padding: 9px 24px;
    font-size: 0.8rem;
  }

  .portfolio-btns button {
    padding: 9px 24px;
    font-size: 0.7rem;
  }

  .j-btn3 {
    text-decoration: underline;
  }
}

/* Style defualts iphone 5/se */
@media (max-width: 321px) {
  /* Making everything full width, one column due to small screen size */
  .flex-container {
    flex-direction: column;
  }
}

/* ---------------LAPTOP------------------*/
/* Space between sections */
#about-section {
  padding: 125px 0 150px;
}

#portfolio-section,
#skills-section {
  padding: 75px 0;
}

#why-section {
  padding: 125px 0 150px;
}

#contact-section {
  padding: 100px 0 50px;
}

/* -------Hero Section------*/
#hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f9f9f9; */
  position: relative;
  padding: 100px 0 200px;
}

.hero-div {
  width: 85%;
  max-width: 1300px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 50px;
}

.hero-text {
  width: 70%;
  z-index: 1;
}

.hero-text p {
  /* font-size: 1rem; */
  color: var(--grey);
  margin: 7.5px 0 20px;
  width: 65%;
}

.hero-text h1 {
  font-size: 3.25rem;
  font-weight: bold;
  color: var(--light_black);
  margin-top: 7.5px;
}

/* Hide 'Web' Developer */
.hero-text span {
  display: none;
}

.hero-text h2 {
  font-size: 1.4rem;
  font-family: "Archivo", sans-serif;
  color: var(--light_grey);
}

.hero-image {
  width: 55%;
  position: absolute;
  right: 0;
}

.hero-image img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -25px;
}

.coding-lang img {
  margin: 0 25px 0 0;
  width: 40px;
  height: 35px;
}

.down-arrow {
  /* display: none; */
  position: absolute;
  bottom: 50px;
  left: 50%;
  cursor: pointer;
  z-index: 2;
  width: 32.5px;
  height: 47.5px;
}

/* -------About Me Section------*/
.border-div {
  width: 90%;
  border: solid 15px #008ecc;
  height: 98%;
  position: absolute;
  z-index: -1;
  left: -35px;
  top: 40px;
}

#about-section {
  position: relative;
  background: #f9f9f9;
  z-index: 0;
}

.img-left {
  width: 37.5%;
  position: relative;
  left: 35px;
}

.img-left img {
  width: 90%;
  height: 100%;
}

.text-right {
  width: 55%;
  text-align: left;
}

.text-right div:last-of-type {
  margin: 15px 0 20px;
}

.text-right p {
  margin: 10px 0;
  /* font-size: 1rem; */
  color: var(--grey);
}

.text-right i {
  margin-right: 5px;
}

.section-heading p {
  color: var(--light_grey);
  font-size: 1.25rem;
  margin-bottom: 1px;
}

.section-heading h2 {
  font-size: 2.25rem;
  margin: 0 0 10px;
}

/* -------Skills Section------*/
#skills-section .slick-dots {
  bottom: -40px;
}

/* -------Why Hire Me Section------*/
.why-left {
  width: 37.5%;
  display: flex;
  justify-content: space-between;
}

#why-section {
  position: relative;
  background: #f9f9f9;
}

#why-section .section-heading.mobile {
  display: none;
}

.why-container {
  display: flex;
  flex-direction: column;
}

.why {
  display: flex;
  align-items: flex-start;
}

.why:first-of-type {
  margin-bottom: 50px;
}

.why img {
  width: 50px;
  height: 50px;
}

.number {
  margin-left: 10px;
}

.why .number p:first-of-type {
  font-size: 2.5rem;
  font-family: "Archivo Black", sans-serif;
  margin: 0;
}

.why p {
  line-height: 1.25;
  font-size: 0.9rem;
  width: 80%;
}

/* -------Contact Me Section------*/
#contact-section {
  position: relative;
  text-align: center;
  background: #f9f9f9;
}

#contact-section .flex-container {
  padding: 50px 0;
}

#contact-section .flex-container p:nth-child(2) {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5rem !important;
}

#contact-section img {
  width: 60px;
  height: 60px;
  transition: all 0.2s;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--webkit-shadow);
  border-radius: 50%;
}

#contact-section img:hover {
  cursor: pointer;
  opacity: 0.8;
}

#contact-section .flex-container div {
  width: 33.3%;
}

.desc-mobile {
  display: none;
}

/* ---------------DESKTOP-----------------*/
@media (min-width: 1500px) {
  /* Space between sections */
  .hero-div {
    padding: 50px 0 125px;
  }

  .hero-text p {
    width: 64%;
  }

  #about-section {
    padding: 150px 0 175px;
  }

  #portfolio-section,
  #skills-section {
    padding: 100px 0;
  }

  #why-section {
    padding: 200px 0;
  }

  #contact-section {
    padding: 150px 0 100px;
  }

  /* -------Hero Section------*/
  .hero-image {
    width: 47.5%;
    right: 7.5%;
  }

  /* Zoom out fix */
  .hero-image img {
    max-width: 900px;
  }

  .down-arrow {
    bottom: 35px;
  }

  /* Show Front-end Web Developer */
  .hero-text span {
    display: inline;
  }

  .hero-text p {
    font-size: 1.1rem;
  }

  .hero-text h1 {
    font-size: 3.25rem;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }
}

/* ---------------TABLET------------------*/
@media (max-width: 1100px) {
  /* Space between sections */
  #hero-section {
    padding: 0 0 100px;
  }

  #about-section,
  #why-section {
    padding: 175px 0;
  }

  #portfolio-section,
  #skills-section {
    padding: 125px 0;
  }

  #contact-section {
    padding: 125px 0 50px;
  }

  /* -------Hero Section------*/
  .hero-div {
    flex-direction: column;
    width: 100%;
  }

  .hero-image {
    width: 70%;
    position: unset;
  }

  .hero-image img {
    position: unset;
  }

  .hero-text {
    order: 2;
    width: 90%;
    margin-top: 25px;
    text-align: center;
  }

  .hero-text p {
    margin: 20px auto;
    width: 75%;
    font-size: 1.1rem;
  }

  .down-arrow {
    left: 47.5%;
  }

  .coding-lang img {
    width: 30px;
    margin: 0 40px 0 0;
  }
}

@media (max-width: 1000px) {
  /* -------Contact Me Section------*/
  .flex-container {
    flex-direction: column;
  }

  .img-left {
    width: 65%;
  }

  #about-section .text-right {
    width: 100%;
    margin-top: 50px;
  }

  .text-right {
    width: 100%;
  }

  /* -------Why Hire Me Section------*/
  .why-left {
    width: 80%;
    margin-bottom: 25px;
  }

  /* -------Contact Me Section------*/
  #contact-section .flex-container {
    flex-direction: row;
  }

  #contact-section .flex-container div:nth-child(3) {
    display: none;
  }

  #contact-section .flex-container div {
    width: 50%;
  }
}

@media (max-width: 651px) {
  /* Show Front-end Web Developer */
  .hero-text span {
    display: inline;
  }
}

/* ---------------MOBILE------------------*/
@media (max-width: 600px) {
  /* Space between sections */
  #hero-section {
    padding: 0 0 100px;
  }

  #about-section,
  #why-section {
    padding: 100px 0;
  }

  #portfolio-section,
  #skills-section,
  #contact-section {
    padding: 75px 0;
  }

  /* -------Hero Section------*/
  .section-heading {
    text-align: center;
  }

  .hero-image {
    width: 100%;
  }

  .hero-image img {
    height: 300px;
    object-fit: cover;
  }

  .hero-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--light_black);
    margin-top: 7.5px;
    line-height: 1.2;
  }

  .hero-text h2 {
    font-size: 1.25rem;
    font-family: "Archivo", sans-serif;
    color: var(--light_grey);
  }

  .hero-text p {
    margin: 10px auto 25px;
    width: 100%;
    font-size: 1rem;
  }

  .down-arrow {
    left: 45%;
    bottom: 50px;
  }

  .coding-lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
  }

  .coding-lang img {
    margin: unset;
  }

  /* -------About Me Section------*/
  .border-div {
    width: 100%;
    border: solid 11px #008ecc;
    height: 98%;
    position: absolute;
    z-index: -1;
    left: -25px;
    top: 30px;
  }

  .img-left img {
    width: 100%;
  }

  .img-left {
    left: 20px;
  }

  .img-text-section {
    padding: 15% 0;
  }

  .img-left {
    width: 70%;
  }

  .text-right {
    width: 95%;
  }

  .img-text-section button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  /* -------Skills Section------*/
  #skills-section .slick-dots {
    bottom: -50px;
  }

  /* -------Why Hire Me Sction------*/
  .why-left {
    width: 100%;
  }

  .why p {
    line-height: 1.25;
    width: 70%;
  }

  #why-section .section-heading {
    display: none;
  }

  #why-section .section-heading.mobile {
    display: block;
    margin-bottom: 55px;
  }

  .why .number p:first-of-type {
    font-size: 2rem;
  }

  .text-right div:last-of-type {
    margin-bottom: 35px;
  }

  /* -------Contact Me Section------*/
  #contact-section .flex-container {
    width: 100%;
  }

  #contact-section .flex-container {
    padding: 35px 0px;
  }

  .desc-mobile {
    display: block;
    text-align: left;
  }

  .desc-mobile p {
    margin: 0 0 10px;
  }

  #contact-section .flex-container p:nth-child(2) {
    font-size: 1.2rem !important;
    line-height: 1;
    margin: 10px 0 5px;
  }
}

/* Iphone 5/SE */
@media (max-width: 321px) {
  /* -------Default Styling------*/
  p {
    font-size: 0.9rem;
  }

  .section-heading h2 {
    font-size: 2rem;
  }

  .section-heading p {
    font-size: 1.2rem;
  }

  .heading h2 {
    font-size: 2rem !important;
  }

  .j-btn {
    /* padding: 8px 18px; */
    font-size: 0.7rem;
  }

  /* -------Hero Section------*/
  .hero-div {
    padding: 0 0 45px;
  }

  .hero-image img {
    height: 250px;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h2 {
    font-size: 1.2rem;
  }

  .hero-text p {
    font-size: 0.9rem;
    margin: 5px auto 15px;
  }

  .coding-lang {
    width: 87.5%;
  }

  .coding-lang img {
    width: 25px;
  }

  /* -------The Numbers------*/
  .why img {
    width: 40px;
    height: 40px;
  }

  .why .number p:first-of-type {
    font-size: 1.75rem;
  }

  .why p {
    font-size: 0.8rem;
    width: 100%;
  }
}
