#loader {
  position: fixed;
  background: #f9f9f9;
  height: 100%;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader img {
  width: 80px;
  height: 80px;
  box-shadow: var(--shadow);
  -webkit-box-shadow:var(--webkit-shadow);
}

.rotate {
  animation: rotation 1s infinite linear;
  animation-timing-function: ease-out;
}

#loader.loader-hide{
  animation: fadeOut .5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 600px) {
  #loader img {
    width: 70px;
    height: 70px;
  }
}
