/* -------Portfolio Section------*/
.portfolio {
  cursor: grab;
}

/* Added as there isn't a slide on desktop */
.digital .portfolio {
  cursor: auto;
}

.portfolio div {
  text-align: center;
  /* width: 300px; */
}

.card {
  margin: unset !important;
}

.portfolio img {
  width: 155px;
  height: 140px;
  text-align: center;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  top: 40px;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--webkit-shadow);
}

/* Preventing default j-btn styles for section toggle */
.portfolio-btns .j-btn:hover {
  background: var(--primary);
  color: var(--white);
}

.portfolio-btns .j-btn3:hover {
  background: none;
  color: var(--primary);
}

.portfolio h2, #skills h2 {
  font-size: 1.5rem;
  text-align: center;
}

.portfolio p {
  margin: 10px auto 17.5px;
  text-align: left;
  color: var(--light_grey);
  font-size: 0.9rem;
}

.item {
  box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
  padding: 22.5% 10% 17.5%;
  margin: 0 15px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 20px;
  /* Added to avoid shadow issues */
  min-height: 280px;
  /* transition: all 0.5s; */
}

#portfolio-section .item img {
  transition: all 0.2s;
}

#portfolio-section .item img:hover {
  opacity: 0.8;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h2 {
  font-size: 2.25rem;
}

.portfolio-btns button {
  margin-right: 20px;
}

@media (min-width: 1400px) {
  .item {
    padding: 22.5% 10% 15%;
  }
}

@media (max-width: 800px) {
  .heading {
    flex-direction: column;
    margin-bottom: 0;
  }

  .portfolio-btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 35px 0 0
  }

  .portfolio-btns button {
    margin: 0;
  }

  .heading h2 {
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) {
  .item {
    max-width: unset;
    padding: 65px 10% 45px;
    width: 85%;
    margin: 0 auto 20px;
  }

  .heading span {
    display: none;
  }
}

@media (max-width: 321px) {
  .portfolio-btns button {
    padding: 7px 18px;
    font-size: 0.65rem;
  }
}

/* -------Skills Section------*/
#skills {
  padding: 30px 0;
}

#skills img {
  margin: 0 auto;
}

#skills .item {
  min-height: 300px;
  padding: 12.5% 10%;
}

#skills p {
  color: var(--light_grey);
  font-size: 0.9rem;
}

#skills h2 {
  margin: 15px auto 10px;
}

/* FIXES BOX SHAOW ISSUE OF BEING CUT OFF */
.slick-track {
  padding: 15px 0;
}

@media (min-width: 1400px) {
  #skills .item {
    min-height: 325px;
  }

  #skills h2 {
    width: 90%;
  }
}

@media(max-width: 321px) {
  .item {
    width: 75%;
  }
}
