/* PORTFOLIO */
.portfolio {
  cursor: grab;
}

.portfolio div {
  text-align: center;
}

.portfolio img:first-child {
  width: 155px;
  height: 140px;
  text-align: center;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  top: 40px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}

/* Preventing default j-btn styles for section toggle */
.portfolio-btns .j-btn:hover {
  background: var(--primary);
  color: var(--white);
}

.portfolio-btns .j-btn3:hover {
  background: none;
  color: var(--primary);
}

/* Skills section */
#section4 {
  padding: 100px 0;
}

#skills {
  padding: 30px 0;
}

#skills img:first-child {
  width: 140px;
  height: 60px;
  position: unset;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}

#skills .item {
  min-height: 300px;
  padding: 12.5% 10%;
}

/* FIXES BOX SHAOW ISSUE OF BEING CUT OFF */
.slick-track {
  padding: 15px 0;
}


@media (min-width: 1400px) {
  #skills .item {
    min-height: 325px;
  }

  #skills img:first-child {
    height: 75px;
  }
}

#skills h2 {
  width: 80%;
  margin: 15px auto 10px;
}

.portfolio h2 {
  font-size: 1.5rem;
}

.portfolio p {
  margin: 10px auto 17.5px;
  text-align: left;
  color: var(--light_grey);
  font-size: 0.9rem;
}

.item {
  box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
  padding: 22.5% 10% 17.5%;
  margin: 0 15px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 20px;
  /* Added to avoid shadow issues */
  min-height: 280px;
  transition: all 0.5s;
}


.item:hover {
  box-shadow: 0px 0px 15px rgb(181 181 181);
  -webkit-box-shadow: 0px 0px 15px rgb(181 181 181);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h2 {
  font-size: 2.25rem;
}

.portfolio-btns button {
  margin-right: 20px;
}


@media (min-width: 1400px) {
  .portfolio img {
    width: 175px;
    height: 160px;
  }

  .item {
    padding: 22.5% 10% 15%;
  }
}


@media (max-width: 800px) {
  .heading {
    flex-direction: column;
    margin-bottom: 0;
  }

  .portfolio-btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 35px 0 0
  }

  .portfolio-btns button {
    margin: 0;
  }

  .heading h2 {
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) {
  .item {
    max-width: unset;
    padding: 65px 10% 45px;
    width: 85%;
    margin: 0 auto 20px;
  }

  .portfolio img {
    width: 165px;
    height: 150px;
  }

  .heading span {
    display: none;
  }
}


@media (max-width: 321px) {
  .j-btn {
    padding: 8px 18px;
    font-size: 0.65rem;
  }
}
