.main {
  width: 85%;
  max-width: 1300px;
  display: block;
  margin: 0 auto;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots {
  bottom: 0px;
}

/* Slick custom prev,next buttons */
#portfolio-section .jay-prev, #portfolio-section .jay-next {
  display: none !important;
}

/* Inherits j-btn styles, overiding */
.jay-next, .jay-prev {
  position: absolute;
  top: -85px;
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
}

.jay-prev {
  right: 100px;
}

.jay-next {
  right: 15px;
}

@media (min-width:1400px) {
  .slick-dots {
    bottom: -20px;
  }
}

@media(max-width: 800px) {
  .jay-next, .jay-prev {
    display: none !important;
  }
}

@media (max-width:600px) {
  .main {
    width: 100%;
  }

  .slick-dots {
    bottom: -20px;
  }
}
