.card {
  margin: 0 auto;
  width: 300px;
  height: 475px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* overflow: hidden; - Fixes height issue on slider*/
  border-radius: 16px;
}

.card__face--back {
  transform: rotateY(180deg);
}

/* MY STYLES ADDED */
.card__face--back .item img {
  box-shadow: unset;
  width: 30px;
  height: 30px;
  position: unset;
  margin: 0;
}

.card__face--back .item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.card__face--back .item p {
  margin: 10px 0;
}
